<h1>{{title}}</h1><br><br>

<!--<a routerLink="/mine">Mine</a>

<a routerLink="/all">All</a>

<router-outlet></router-outlet>-->

<!--<p>{{arrValue[0]}}</p><br>
<p>{{arrValue[1]}}</p><br>
<p>{{arrValue[2]}}</p><br>

<ul>
  <li *ngFor="let i of arrValue">{{i}}</li>
</ul>

<p *ngIf="isTrue">True..</p>

<p *ngIf="myName == 'Prassanna'; then firstTemp else secondTemp ">Jayashree</p>

<ng-template #firstTemp>This is First template</ng-template>
<ng-template #secondTemp>This is Second template</ng-template> -->

<app-add-item></app-add-item>

 


